<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

  <session-factory>
    <!-- Properties defined here are shared between test and production -->
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
	<property name="connection.url">
    	jdbc:mysql://localhost:3306/course
	</property>
	<property name="connection.username">root</property>
	<property name="connection.password">root</property>
	<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
	<property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
	
	<mapping resource="com/ddd/infrastructure/persistence/hibernate/Student.hbm.xml" />
	<mapping resource="com/ddd/infrastructure/persistence/hibernate/Professor.hbm.xml" />    
    <mapping resource="com/ddd/infrastructure/persistence/hibernate/CourseOffering.hbm.xml" />
    <mapping resource="com/ddd/infrastructure/persistence/hibernate/Grade.hbm.xml" />
    
  </session-factory>

</hibernate-configuration>
